@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #5849FF;
  --secondary: #856AFF;
  --light: #FFF;
  --dark: #0C0C1E;
}

body {
    margin: 10px;
    background-color: var(--dark);
    color: #eee;
    height: 100vh;
    font-size: 12px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: large;
    text-decoration: none;
    color: #eee;
}

.navmenus {
    display: flex;
    gap: 20px;
}

header {
    width: 100%;
    max-width: 90%;
    margin: 20px auto 0;
    height: 50px;
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 100;
}

.dropbtn {
    cursor: pointer;
}

/* Container needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #eee;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: rgba(255, 255, 255, 0.1);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* Adjusting height to center text within the remaining viewport */
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    text-align: center;
    margin: 5px 0; /* Reduced margin */
}

span {
    color: var(--primary);
}

p {
  width: 50%;
  text-align: center;
}
.card-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 20px; /* Space between cards */
  justify-content: center; /* Center cards horizontally */
}


.card {
  margin: 50px auto 0; /* Reduced top margin */
  width: 250px;
  height: 350px;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h2 {
  color: var(--light);
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: var(--light);
  border: 5px solid var(--light);
  object-fit: cover;
}

.card__header h2 {
  color: var(--light);
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}
